html{
  background-color: #000;
  text-align: center;
  color: #bbb;
}

body {
  display: flex;
  justify-content: center;
  margin: 8px;
  height: calc(100dvh - 16px);  
}

.left {
  background-color: #333;
  width: 28dvh;
}

main {
  width: 50dvh;
  background-color: #222;
  display: flex;

  #glass {
    background-color: #000;
    margin: auto;
    display: block;
  }
}

.right {
  background-color: #333;
  width: 28dvh;
}